@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

.pagy {
    @apply flex gap-x-1 font-semibold text-sm my-24;
    a:not(.gap) {
      @apply block px-6 py-2 bg-blue-200;
      &:hover {
        @apply bg-blue-300;
      }
      &:not([href]) { /* disabled links */
        @apply text-gray-300 bg-blue-100 cursor-default;
      }
      &.current {
        @apply text-white bg-blue-400;
      }
    }
    label {
      @apply inline-block whitespace-nowrap bg-blue-200 rounded-lg px-3 py-0.5;
      input {
        @apply bg-gray-100 border-none rounded-md;
      }
    }
  }