<div id="alert" class="flex flex-col min-w-fit w-1/2 fixed bottom-2 left-1/2 transform -translate-x-1/2 p-4 mb-4 text-sm text-orange-900 rounded-lg bg-orange-100/50 text-center border border-orange-500 role="alert">
  <span class="font-medium"><%= alert %></span>
  <span>Change a few things up and try submitting again.</span>
</div>